body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-family: roboto;
}

div {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100vw;
  font-size: 15vh;
  align-self: stretch;
}

button {
  margin: 10px;
  color: white;
  font-size: 72px;
  font-weight: 600;
  border: solid black 5px;
  border-radius: 8px;
}

button:active {
  border: solid 4px lightgrey;
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 10px #ffdf90;
  color: #ffbf00;
}

.add {
  background-color: darkgreen;
  height: 25vh;
}

.remove {
  background-color: darkred;
}

.reset {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}
.bottle {
    
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: blueviolet;
  width: 40%;
}
h6,h4{
    margin: 10px;
}