body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

div {
  font-size: 160px;
  display: flex;
  justify-content: space-around;
  
}

button {
  margin: 10px 0;
  color: white;
  font-size: 36px;
  font-weight: 600;
  border: solid black 5px;
  border-radius: 8px;
  align-self: stretch;
}

button:active {
  border: solid 4px lightgrey;
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 10px #ffdf90;
  color: #ffbf00;
}

.add {
  background-color: darkgreen;
  height: 25vh;
}

.remove {
  background-color: rgba(139, 0, 0, 0.788);
}

.reset {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.b1,
.b2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: blueviolet;
  margin: 0;
  padding: 5px;
}
.b1Time,
.b2Time {
  font-size: medium;
}
